*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(8,12,30,0.7),rgba(8,12,30,0.7)), 
    url(doggy.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    filter: brightness(120%);
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}
section div{
    min-height: 50vh;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    margin: 100px 0px 0px 100px;
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container img{
    filter: brightness(110%);
    width: 15%;
    height: 70%;
    object-fit: cover;
    border-radius: 15px;
    border: 7px solid #FFB800;
    transition: all ease-in-out 0.5s;
}
.container img:hover{
    width: 40%;
}

h3{
    background-color: rgb(247, 244, 94);
    padding: 30px;
    border: 8px solid rgb(241, 101, 9);
    font-family: Arial;
    font-size: 75px;
    color: rgb(7, 7, 0);
    position: absolute;
    top: 85%;
    left:50%;
    transform: translate(-50%,-50%);
}

.body1{
    min-height: 100vh;
    width: 100%;
    background-color: white;
}
.golden{
    filter: brightness(110%);
    position: absolute;
    top: 128%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 18%;
    height: 35%;
    border: 10px solid #e35503;
}
.title1{
    position: absolute;
    top: 114%;
    left: 29%;
    transform: translate(-50%,-50%);
    background-color: rgb(199, 254, 47);
    padding: 20px;
    border: 7px solid black;
    font-family: Verdana;
    font-size: 80px;
}
.list1{
    position: absolute;
    top: 123%;
    left: 29%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: sans-serif;
}
.indent{
    text-indent: 45px;
    list-style: none;
}
.p1{
    position: absolute;
    top: 136%;
    left: 34%;
    transform: translate(-50%,-50%);
    border: 8px solid rgb(247, 68, 8);
    padding: 35px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: justify;
}

.beagle{
    filter: brightness(110%);
    position: absolute;
    top: 171%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 18%;
    height: 35%;
    border: 10px solid #e35503;
}
.title2{
    position: absolute;
    top: 158%;
    left: 24%;
    transform: translate(-50%,-50%);
    background-color: rgb(199, 254, 47);
    padding: 20px;
    border: 7px solid black;
    font-family: Verdana;
    font-size: 80px;
}
.list2{
    position: absolute;
    top: 165%;
    left: 29%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: sans-serif;
}
.p2{
    position: absolute;
    top: 176%;
    left: 35%;
    transform: translate(-50%,-50%);
    border: 8px solid rgb(247, 68, 8);
    padding: 35px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: justify;
}
.shepherd{
    filter: brightness(110%);
    position: absolute;
    top: 128%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 18%;
    height: 35%;
    border: 10px solid #e35503;
}
.title3{
    position: absolute;
    top: 114%;
    left: 78%;
    transform: translate(-50%,-50%);
    background-color: rgb(199, 254, 47);
    padding: 20px;
    border: 7px solid black;
    font-family: Verdana;
    font-size: 80px;
}
.list3{
    position: absolute;
    top: 123%;
    left: 78%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: sans-serif;
}

.p3{
    position: absolute;
    top: 137%;
    left: 81%;
    transform: translate(-50%,-50%);
    border: 8px solid rgb(247, 68, 8);
    padding: 35px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: justify;
}

.bulldog{
    filter: brightness(110%);
    position: absolute;
    top: 171%;
    left: 60%;
    transform: translate(-50%,-50%);
    width: 18%;
    height: 35%;
    border: 10px solid #e35503;
}
.title4{
    position: absolute;
    top: 158%;
    left: 78%;
    transform: translate(-50%,-50%);
    background-color: rgb(199, 254, 47);
    padding: 20px;
    border: 7px solid black;
    font-family: Verdana;
    font-size: 80px;
}
.list4{
    position: absolute;
    top: 165%;
    left: 78%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-family: sans-serif;
}

.p4{
    position: absolute;
    top: 178%;
    left: 81%;
    transform: translate(-50%,-50%);
    border: 8px solid rgb(247, 68, 8);
    padding: 35px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: justify;
}

.end{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(8,12,30,0.7),rgba(8,12,30,0.7)), 
    url(back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(120%);
}
#last{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Courier New';
    font-size: 450px;
    color: darkorange;
}